# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Build artifacts
build/
dist/

# Logs/outputs
outputs/
experiments/
vis/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
